{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/signup1.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/signup2.css'%}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<style>
					.login100-form-title{
						background-image: url("{% static 'images/bg-02.jpg' %}");
					}
					#id_email,#id_college,#id_branch,#id_passing_year,#id_number,#id_password1,#id_password2{
						background-color: rgba(0, 0, 0, 0);
						color: white;
						font-size:15px;
						padding-top:0.7rem;
						height: 1.9rem;
						width: 25rem;
					}
				</style>
				<div class="login100-form-title" >
					<span class="login100-form-title-1">
						SignUp
					</span>
				</div>

				<form class="login100-form validate-form"method="post">
					{% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Email</span>
						<div class="input100">{{form.email}}</div>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">College</span>
						<div class="input100">{{form.college}}</div>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Branch</span>
						<div class="input100">{{form.branch}}</div>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Passing Year</span>
						<div class="input100">{{form.passing_year}}</div>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Phone Number</span>
						<div class="input100">{{form.number}}</div>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<div class="input100">{{form.password1}}</div>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Confirm Password</span>
						<div class="input100">{{form.password2}}</div>
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Sign Up
						</button>
					</div>
					 {{form.errors}}
				</form>
			</div>
		</div>
	</div>

</body>
</html>
