{% load static %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'assets/img/apple-icon.png'%}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">
    <!-- Load Require CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% static 'assets/css/boxicon.min.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap'%}" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/templatemo.css'%}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">
<!--
    
TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

-->
</head>

<body>
      <!-- Header -->
      <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="{% url 'Student Home' %}">
                <i class='bx bx-buildings bx-sm text-dark'></i>
                <span class="text-dark h4">Code</span> <span class="text-primary h4">Bit</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                <div class="flex-fill mx-xl-5 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'Student Home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'About' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'Alumni' %}">Alumni</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'Events' %}">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'ChatBox' %}">Chatroom</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'Contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <a class="nav-link" href="{% url 'logout' %}"><i class='bx bx-log-out bx-sm text-primary'></i></a>
                    <a class="nav-link" href="{% url 'Profile' %}"><i class='bx bx-user-circle bx-sm text-primary'></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->

   <!-- Start Banner Hero -->
   <section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">About Us</h1>
                <p class="light-300">
                    We are a group of four students from Pandit Deendayal Energy University.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="{% static './assets/img/banner-img-02.svg'%}">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Hero -->


<!-- Start Team Member -->
<section class="container py-5">
    
    <div class="col-lg-3">
        <h2 class="h2 py-5 typo-space-line">Our Team</h2>
       
    <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5" style="width: 55rem !important; padding-right:48px 0px 0px !important;">


        <div class="col-lg-9 row">
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" >
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                   
                </ul>
            </div>
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" src="{% static './assets/img/team-01.jpg' %}" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Ahmed Mulla</li>
                    <li>web developer</li>
                </ul>
            </div>
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" >
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                   
                </ul>
            </div>
            
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" src="{% static './assets/img/team-01.jpg' %}" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Aum Davda</li>
                    <li>web developer</li>
                </ul>
            </div>
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" src="{% static './assets/img/team-02.jpg' %}" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Hardeep Patel</li>
                    <li>web developer</li>
                </ul>
            </div>
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" src="{% static './assets/img/team-03.jpg' %}" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Harsh Baldaniya</li>
                    <li>web developer</li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- End Team Member -->












  <!-- Start Footer -->
  <footer class="bg-secondary pt-4">
    <div class="container">
        <div class="row py-4">

            <div class="col-lg-3 col-12 align-left">
                <a class="navbar-brand" href="{% url 'Student Home' %}">
                    <i class='bx bx-buildings bx-sm text-light'></i>
                    <span class="text-light h5">Code</span> <span class="text-light h5 semi-bold-600">Bit</span>
                </a>
                <p class="text-light my-lg-4 my-2">
                    College ke saath bhi College ke baad bhi.
                </p>
                <ul class="list-inline footer-icons light-300">
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="http://facebook.com/">
                            <i class='bx bxl-facebook-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://www.linkedin.com/">
                            <i class='bx bxl-linkedin-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://www.whatsapp.com/">
                            <i class='bx bxl-whatsapp-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://www.flickr.com/">
                            <i class='bx bxl-flickr-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://www.medium.com/">
                            <i class='bx bxl-medium-square bx-md' ></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h3 class="h4 pb-lg-3 text-light light-300">Our Company</h2>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light" href="{% url 'Student Home' %}">Home</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="{% url 'About' %}">About Us</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="{% url 'Alumni' %}">Alumni</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i></i><a class="text-decoration-none text-light py-1" href="{% url 'Events' %}">Events</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i></i><a class="text-decoration-none text-light py-1" href="{% url 'ChatBox' %}">ChatRoom</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="{% url 'Contact' %}">Contact</a>
                        </li>
                    </ul>
            </div>

            
            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h2 class="h4 pb-lg-3 text-light light-300">Contact Us</h2>
                <ul class="list-unstyled text-light light-300">
                    <li class="pb-2">
                        <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1" href="tel:8690909695">8690909695 -Ahmed Mulla</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1" href="tel:7202964175">7202964175 -Hardeep Patel</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1" href="tel:9723028245">9723028245 -Aum Davda</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1" href="tel:9265707138">9265707138 -Harsh Baldaniya</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1"href="mailto:ahmed.mce20@sot.pdpu.ac.in">E-mail Ahmed Mulla  </a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1" href="mailto:hardeep.pce20@sot.pdpu.ac.in">E-mail Hardeep Patel </a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1" href="mailto:aum.dce20@sot.pdpu.ac.in">E-mail Aum Davda</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1" href="mailto:harsh.rce20@sot.pdpu.ac.in">E-mail Harsh Baldaniya</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="w-100 bg-primary py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-lg-6 col-sm-12">
                    <p class="text-lg-start text-center text-light light-300">
                        © Copyright 2021 Code Bit. All Rights Reserved.
                    </p>
                </div>
                
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->


    <!-- Bootstrap -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Templatemo -->
    <script src="{% static 'assets/js/templatemo.js' %}"></script>
    <!-- Custom -->
    <script src="{% static 'assets/js/custom.js'%}"></script>

</body>

</html>
{% else %}

<html>
    <head>
        <title>
            {% block title %}Please Login {% endblock %}
        </title>
    </head>

    <body class="main">
        <h1 class="ml5">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters letters-left">C.A.M.</span>
              <span class="letters ampersand">~</span>
              <span class="letters letters-right">SYSTEM</span>
              <span class="line line2"></span>
            </span>
          </h1>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>        
        
        <center><p style="color:#f2f2f4">You are not logged in. </p>  
         
        <center>  <h2 style="color:#f2f2f4"><a href="/login" style="color:#f2f2f4">Click here</a> To login</h2>
            
      

    </body>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <style>
        .main{
  background:  url("{%static 'Register/images/1.jpg'%}") no-repeat center/ cover;
            }
    </style>
</html>
{% endif %}