{% load static %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Event</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'assets/img/apple-icon.png'%}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">
    <!-- Load Require CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% static 'assets/css/boxicon.min.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap'%}" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/templatemo.css'%}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">

</head>

<body>
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="{% url 'Student Home' %}">
                <i class='bx bx-buildings bx-sm text-dark'></i>
                <span class="text-dark h4">Code</span> <span class="text-primary h4">Bit</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="navbar-toggler-success">
                <div class="flex-fill mx-xl-5 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3"
                                href="{% url 'Student Home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'About' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3"
                                href="{% url 'Alumni' %}">Alumni</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3"
                                href="{% url 'Events' %}">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3"
                                href="{% url 'ChatBox' %}">Chatroom</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3"
                                href="{% url 'Contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <a class="nav-link" href="{% url 'logout' %}"><i class='bx bx-log-out bx-sm text-primary'></i></a>
                    <a class="nav-link" href="{% url 'Profile' %}"><i
                            class='bx bx-user-circle bx-sm text-primary'></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->


    <!-- Start pricing -->

    <!-- End Content -->

    <!-- Start Pricing Horizontal Section -->
    <section class="bg-light pt-sm-0 py-5">
        <div class="container py-5">

            <h1 class="h2 semi-bold-600 text-center mt-2">Events</h1>
            <p class="text-center pb-5 light-300">Hey folks you will be updated to any Event Scheduled.</p>

            {% for e in events %}
            <!-- Start Pricing Horizontal -->
            <div class="pricing-horizontal row col-10 m-auto d-flex shadow-sm rounded overflow-hidden bg-white">
                <div class="pricing-horizontal-icon col-md-3 text-center bg-secondary text-light py-4">
                    <i class="display-1 bx bx-package pt-4"></i>
                    <h5 class="h5 semi-bold-600 pb-4 light-300">{{e.date}}</h5>
                </div>
                <div
                    class="pricing-horizontal-body offset-lg-1 col-md-5 col-lg-4 d-flex align-items-center pl-5 pt-lg-0 pt-4">
                    <ul class="text-left px-4 list-unstyled mb-0 light-300">
                        <li><i class="bx bxs-circle me-2"></i>{{e.subject}}</li>
                        <li><i class="bx bxs-circle me-2"></i>There is a {{e.subject}} event on {{e.date}} from
                            {{e.time_start}} to {{e.time_end}}</li>
                    </ul>
                </div>
            </div>
            <br>
            <!-- End Pricing Horizontal -->
            {% endfor %}




        </div>
    </section>
    <div class="container-lg py-5">

        <div class="row px-lg-3">

            <!-- Start pricing -->
            <div class="container-lg py-5">
                <div class="col-md-12 m-auto text-center py-5">
                    <h1 class="pricing-header h2 semi-bold-600">Announcements</h1>
                    <p class="pricing-footer">
                        Hey folks you will be updated to any Announcements made
                    </p>
                </div>


                <textarea name="" id="" cols="30" rows="10"
                    style="font-size: 1.5rem ;width: 82vw; border-radius: 2rem; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;outline: none;padding-top: .6rem;overflow-x: auto;overflow-y: auto;">
        {% for i in announcements %}
            {{i.text}}
        {% endfor %}
        </textarea>


                <!-- Start Pricing Horizontal Section -->

            </div>
        </div>
    </div><!-- End Slider -->

    </div>
    </div>
    <!--End Pricing Horizontal Section-->



    <!-- Start Footer -->
    <footer class="bg-secondary pt-4">
        <div class="container">
            <div class="row py-4">

                <div class="col-lg-3 col-12 align-left">
                    <a class="navbar-brand" href="{% url 'Student Home' %}">
                        <i class='bx bx-buildings bx-sm text-light'></i>
                        <span class="text-light h5">Code</span> <span class="text-light h5 semi-bold-600">Bit</span>
                    </a>
                    <p class="text-light my-lg-4 my-2">
                        College ke saath bhi College ke baad bhi.
                    </p>
                    <ul class="list-inline footer-icons light-300">
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="http://facebook.com/">
                                <i class='bx bxl-facebook-square bx-md'></i>
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.linkedin.com/">
                                <i class='bx bxl-linkedin-square bx-md'></i>
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.whatsapp.com/">
                                <i class='bx bxl-whatsapp-square bx-md'></i>
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.flickr.com/">
                                <i class='bx bxl-flickr-square bx-md'></i>
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.medium.com/">
                                <i class='bx bxl-medium-square bx-md'></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h3 class="h4 pb-lg-3 text-light light-300">Our Company</h2>
                        <ul class="list-unstyled text-light light-300">
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                                    class="text-decoration-none text-light" href="{% url 'Student Home' %}">Home</a>
                            </li>
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                                    class="text-decoration-none text-light py-1" href="{% url 'About' %}">About Us</a>
                            </li>
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                                    class="text-decoration-none text-light py-1" href="{% url 'Alumni' %}">Alumni</a>
                            </li>
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i></i><a
                                    class="text-decoration-none text-light py-1" href="{% url 'Events' %}">Events</a>
                            </li>
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i></i><a
                                    class="text-decoration-none text-light py-1" href="{% url 'ChatBox' %}">ChatRoom</a>
                            </li>
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                                    class="text-decoration-none text-light py-1" href="{% url 'Contact' %}">Contact</a>
                            </li>
                        </ul>
                </div>


                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h2 class="h4 pb-lg-3 text-light light-300">Contact Us</h2>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1"
                                href="tel:8690909695">8690909695 -Ahmed Mulla</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1"
                                href="tel:7202964175">7202964175 -Hardeep Patel</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1"
                                href="tel:9723028245">9723028245 -Aum Davda</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1"
                                href="tel:9265707138">9265707138 -Harsh Baldaniya</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1"
                                href="mailto:ahmed.mce20@sot.pdpu.ac.in">E-mail Ahmed Mulla </a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1"
                                href="mailto:hardeep.pce20@sot.pdpu.ac.in">E-mail Hardeep Patel </a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1"
                                href="mailto:aum.dce20@sot.pdpu.ac.in">E-mail Aum Davda</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1"
                                href="mailto:harsh.rce20@sot.pdpu.ac.in">E-mail Harsh Baldaniya</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="w-100 bg-primary py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-start text-center text-light light-300">
                            © Copyright 2021 Code Bit. All Rights Reserved.
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    <!-- Templatemo -->
    <script src="{% static 'assets/js/templatemo.js'%}"></script>
    <!-- Custom -->
    <script src="{% static 'assets/js/custom.js'%}"></script>

</body>

</html>
{% else %}

<html>

<head>
    <title>
        {% block title %}Please Login {% endblock %}
    </title>
</head>

<body class="main">
    <h1 class="ml5">
        <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters letters-left">C.A.M.</span>
            <span class="letters ampersand">~</span>
            <span class="letters letters-right">SYSTEM</span>
            <span class="line line2"></span>
        </span>
    </h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <center>
        <p style="color:#f2f2f4">You are not logged in. </p>

        <center>
            <h2 style="color:#f2f2f4"><a href="/login" style="color:#f2f2f4">Click here</a> To login</h2>
            <center>
                <p style="color:#f2f2f4">Or you do not have access to this page. </p>

                <center>
                    <h2 style="color:#f2f2f4"><a href="/student_home" style="color:#f2f2f4">Click here</a> To go to
                        students home</h2>


</body>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
<style>
    .main {
        background: url("{%static 'Register/images/1.jpg'%}") no-repeat center/ cover;
    }
</style>

</html>
{% endif %}